<div class="bubble">
    <p class="main-speech">Hi! I'm a software engineer with a passion for
         problem-solving. Highly experienced with object-oriented programming 
         and languages like <span class="highlight">C#</span>,<span class="highlight"> C++</span>, and <span class="highlight">Swift</span>. I have 
         great experience in <span class="highlight">Unity</span> game engine.
          Recently, I've delved into the world of frontend development. I thoroughly enjoy crafting intuitive user interfaces and 
           enhancing user experiences. Currently, I'm expanding my skills by learning
            <span class="highlight">Angular</span> and <span class="highlight">React</span>. Throughout my career, I've 
            collaborated closely with diverse teams, including artists and designers,
             gaining insights into various aspects of digital content creation. With many
              projects behind me, able to adapt to many technologies,
        languages, and frameworks.
        </p>
        <div class = "sparkle"></div>
</div>
<div class = "clouds"></div>
